.tab-content-outer{
    margin-top: 20px;
}
input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}
textarea{
    resize: none;
    padding-left: 5px;
    padding-top: 5px;
}
.post_content_div{
    border-bottom: 1px solid #edeff2;
    padding-bottom: 13px;
    margin-top: 13px;
}
.post_content_reply_div{
    border-bottom: 1px solid #edeff2;
    padding-bottom: 13px;
    margin-top: 13px;
}
/*.commenting_box{
    overflow: hidden
}
.boards_tab{
    overflow: hidden
}*/
.post_head{
    border-bottom: 1px solid #edeff2;
    padding-bottom: 5px;
}
.update_tab{
    margin-top: 14px;
}
.post_action_div{
    padding-top: 5px;
}
.active_post_btn{
    color: #fff !important;
    background-color: #386cbb !important;
    border-width: 1px !important;
    border-style: solid !important;
    border-color: #264f8c !important;
}
.active_post_btn:hover{
    color: #fff !important;
    background-color: #264f8c !important;
    border-color: #264f8c !important;
    text-decoration: none !important;
    text-shadow: 0 1px 1px rgba(51,51,51,.4) !important;
}
.active_post_btn:active{
    color: #fff !important;
    background-color: #264f8c !important;
    border-color: #9ac3ff !important;
}

.share_text{
    font-family: 'PT Sans', sans-serif !important;
    font-size: 14px !important;
    min-height: 50px !important;
}
.share_text2{
    font-family: 'PT Sans', sans-serif !important;
    font-size: 14px !important;
    min-height: 50px !important;
}
.user_popup{
    margin-top: 2px !important;
}
.reply_user_img{
    height: 38px !important;
    width: 38px !important;
    object-fit: cover !important;
}
.required_error_span{
    color: red;
}
.alert-success{
    padding: 8px !important;
    margin-top: 10px !important;
    margin-bottom: 0px !important;
    display: none;
}
.more_share{
    display: none;
}
.post_like_div{
    border-bottom: 1px solid #edeff2;
    padding-bottom: 13px;
    margin-top: 13px;
    color: #626262;
    font-size: 15px;
}
.post_reply_like_div{
    border: none;
    margin-top: 20px;
    //margin-top: 13px;
    color: #626262;
    font-size: 15px;
}
.scroller_loading_img{
    height: 25px;
    object-fit: cover;
}
.scroller_loading_div{
    text-align: center;
    display: none;
}
.complete_body{
    display: none;
    //cursor: pointer;
}
.share_box2{
    height: 35px !important;
}
.truncated_body{
    //cursor: pointer;
}
.add_files{
    width: 100%;
    float: left;
    border: 1px solid #E6E6E6;
    min-height: 50px;
    border-top: none;
    padding-top: 5px;
}
.image_upload_item{
    width: 98%;
    margin-bottom: 5px;
    margin-left: 6px;
    height: 63px;
    float: left;
    border-radius: 2px;
    background-color: #f3f5f8;
    border: 1px solid #dde0e6;
}
.front-end-font{
    color: #626262;
    font-family: 'open_sansregular';
    font-size: 13px;
    margin: 0px;
    line-height: 20px;
}
.uploaded_img_message_div{
    padding: 5px;
}
.file_msg{
    color: #626262;
    font-size: 11px;
    margin-top: 3px;
}
.progress{
    width: 100%!important;
}
.progress-bar{
    background-color: #337ab7!important;
}
.job_opening_list{
    line-height: 1.42857143;
}
.modal_field{
    width: 100%;
    float: left;
    padding: 12px 0px;
}
.pop_up_taxt{
    margin-top: 5px;
    font-family: 'open_sansregular';
    font-size: 13px;
    padding-left: 5px;
}
.jobopening_action_btn_div{
    margin-top: 18px;
}
.hostel_heading_div{
    border-bottom: 1px solid #e6e6e6 !important;
}
.hostel_heading_h3{
    border-bottom: none !important;
}
.hostel_details_edit_btn{
    margin: 8px;
}
.odd_list > li{
    padding-bottom: 6px !important;
}
.even_list > li{
    padding-bottom: 6px !important;
}
/*****************Mahadev*******************/
.vis_select{
    line-height: 16px;
}
